
	<div id="outline">
		<div id="canister">

			<div class="portfolio">Seems there was {{didUpdate.issue}} issue{{didUpdate.plural}} here.</div>

			<div class="spaceTop">Lets try taking another look at those <a href="/">numbers</a> again.</div>

			<div id="clearBottom"></div>
			
 		</div>
	</div>
