
	<div id="outline">
		<div id="canister">

			<div>Here's a list of the error results.</div>

			{{#each checkError}}
				<div class="spaceBar">{{this}}</div>
			{{/each}}

			<div class="spaceTop">Lets try taking another look at those <a href="/">numbers</a> again.</div>

			<div id="clearBottom"></div>
			
 		</div>
	</div>
