
@font-face { src: url("/assets/KronaOne-Regular.ttf"); font-family: kronaOne; }

html, body {
	margin: 0;
	padding: 0;
}

#outline {
	width: 94vw;
	height: auto;
	margin: 3vw 0 0 3vw;
	background-color: #C3CDE6;
	font-family: kronaOne;
	font-size: 1.2rem;
	line-height: 150%;
}

#canister {
	padding-top: 2rem;
	margin: 0 6rem 0 6rem;
}

.fontLarger {
	font-size: 1.4rem;
}

.portfolio {
	line-height: 160%;	
	text-align: center;
}

.divider {
	height: 2.4rem;
	margin: 2rem 2rem 0 2rem;
	border-top: 0.4rem solid lightslategray;
}

.fundName {
	text-decoration: underline;
	text-align: center;		
}

.spaceBar {
	padding: 0 0 0 4rem;
}

.updateInfo {
	text-align: center;	
}

.spaceTop {
	margin: 1rem 0 0 0;
}

#updateButton {
	font-family: kronaOne;
	font-size: 1.4rem;
	padding: 0.6rem 1rem;
	border-radius: 0.4rem;
	background-color: slateblue;
}

#clearBottom {
	width: 100%;
	height: 8vw;
}

@media screen and (max-width: 900px) {
	#canister {
		margin: 0 4rem 0 4rem;
	}
}

@media screen and (max-width: 460px) {
	.spaceBar {
		padding: 0 0 0 0;
		text-align: center;				
	}
}